/* Custom Font Definitions */
@font-face {
    font-family: 'BaseNeue';
    src: url('../assets/font/BaseNeueTrial1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BaseNeue';
    src: url('../assets/font/BaseNeueTrial-WideExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/font/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}